.waveContainer {
  @media (min-width: 500px) and (max-width: 800px) {
    background-position: 0px 0px;
  }

  @media (width >= 1366px) {
    height: 1065px;
  }

  /* @media (width >= 700px  ) {
    height: 714px;
  } */
  @media (min-width: 700px) and (max-width: 1000px){
    height: 714px;
  }
}

.waveContainerMobile {
  @media (min-width: 0px) and (max-width: 470px) {
    background-position: 0px 0px;
  }
}

.carIcon {
  position: absolute;
  top: -30px;
  left: 85px;
  transform: rotate(2deg);
}
